/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



    /* 1. 6 Column Grid 0px - 959px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    15.0%
    Span 2:    32.0%
    Span 3:    49.0%
    Span 4:    66.0%
    Span 5:    83.0%
    Span 6:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 959px) {
        
        .col {
			/*
            margin-left:2%;
        	padding:0 1.5%;*/
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:15.0%;
        }
        .span_2 {
            width:32.0%;
        }
        .span_3 {
            width:49.0%;
        }
        .span_4 {
            width:66.0%;
        }
        .span_5 {
            width:83.0%;
        }
        .span_6 {
            margin-left:0;
            width:100%;
        }
		
		
		#logo{
			margin:20px 0 20px 22%;
		}
		
		.homeDiv{
			width:50%;
			/*display:none;*/
		}

		.homeDiv:nth-child(3){
			width:100%;
		}
		
		#CV{
			margin-right:15%;
		}
		
		.corporate{
			/*width:48%;*/
			display:none;
		}
		
		.mini{
			width:47%;
		}

    }

    /* 2. 6 Column Grid 960px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    15.0%
    Span 2:    32.0%
    Span 3:    49.0%
    Span 4:    66.0%
    Span 5:    83.0%
    Span 6:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 960px) {
        
        .col {
		/*
            margin-left:2%;
        	padding:0 1.5%;*/
        }
        
        .row .col:first-child {
            margin-left:0;
        }        
        
        .span_1 {
            width:15.0%;
        }
        .span_2 {
            width:32.0%;
        }
        .span_3 {
            width:49.0%;
        }
        .span_4 {
            width:66.0%;
        }
        .span_5 {
            width:83.0%;
        }
        .span_6 {
            margin-left:0;
            width:100%;
        }
		
		#logo{
			margin:20px 0 20px 42%;
		}
		
		.homeDiv{
			width:25%;
			height:400px;
		}

		.homeDiv:nth-child(2){
			width:50%;
		}
		
		#CV{
			margin-right:2%;
		}
		
		.corporate{
			max-width:23%;
			width:400px;
		}
		
		.mini{
			width:22%;
			max-width:350px;
		}
	}
	
	@media screen and (min-width: 0px) and (max-width: 1500px) {
		.corporate{
			/*display:none;*/
		}
	}
